extends ../layout
block content
	- function isObjectEmpty(obj){
	-     var name;
	-     for(name in obj){
	-         return false;
	-     }
	-     return true;
	- }
	.col-md-6
		p.about-text If you'd like to get in touch
			<br> please do
		<br>
		p.about-text Email me directly at
			<br> <highlight>paddhuiy@gmail.com
		p.about-text Or tweet me
			<br> <highlight>@paddhuiy</highlight>
		<br>
		p.about-text Or, here's a handy form you
			<br> can use if you prefer that.
		<br>
		<br>
		form#feedback(
				method="post"
				name="feedback"
				enctype="multipart/form-data"
				)
					.row
						.col-md-6.col
							input#contactemail(
									class="input" name="email" type="text" 
									value="" size="10" placeholder="Email"
									)
					.row
						br
						.col-md-6.col
							textarea#contactsuggestion(
									class="input" name="suggestion" 
							        rows="4" cols="100" placeholder="Your message"
							        )
					.row
						.col-md-6.col
							input.btn.btn-default#submit_button(type ="submit" value="Send")
					.row
						.col-md-6.col-md
							-   if (isObjectEmpty(errors) == false)
									#errorMessages
										p= "Woops, we need:"
											each error in errors
												li#errorMessage= error.msg
								p#successMessage #{message}
	.col-md-6
		img.img-responsive(src="https://s3-eu-west-1.amazonaws.com/paddystaging/NewContactImage")
